:root {
  /* Colors */
  --primary-color: #175480;
  --secondary-color: #FFFF;
  --text-color: #000000;
  --sidebar-bg: #6A93D9;
  --hover-color: #175480;
  --hover-box-color: #6A93D9;
  --ring-color: rgba(0, 0, 0, 0.7);


  /* Spacing & Layouts*/
  --sidebar-width: 150px;
  --card-padding: 20px;
  --border-radius: 25px;
  --box-width: 200px;
  --box-height: 120px;
  --box-radius: 10px;
  --padding: 15px;

  /* Typography*/
  --font-main: 'Arial', sans-serif;
  --font-size: 16px;
  --font-size-small: 14px;
  --font-size-large: 24px;
  --font-weight-bold: bold;

  /* Shadows */
  --shadow-normal: 2px 2px 10px rgba(0, 0, 0, 0.2);
  --shadow-hover: 4px 4px 15px rgba(0, 0, 0, 0.3);

  /* Animation*/
  --transition-speed: 0.3s;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--font-main);
  font-size: var(--font-size);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

/* Aside Bar*/
.sidebar{
  width: var(--sidebar-width);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: fixed;
  left: 0;
  top:0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-top-right-radius:var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding-top: 20px;
}
.sidebar a:hover{
  background-color: var(--hover-color);
}

/* Profile*/
.profile{
  text-align: center;
  margin-bottom: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile p{
  margin: 0;
  font-weight: bold;
}

.profile img{
  width: 80px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Nav List*/
.nav-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  border-top-right-radius: 75px;
  width: 100%;
  padding: 15px 0;
  background-color: var(--sidebar-bg);
}

.nav-list{
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-list li{
  width: 100%;
}

.nav-list li a{
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-radius: var(--border-radius);
  transition: 0.3s;
  padding: 15px 20px;
  font-size: 18px;
  gap: 15px;
  transition: 0.3s;
}

.nav-list li a i{
  font-size: 22px;
}

.nav-list li a:hover{
  background-color: var(--hover-color);
  border-radius: 10px;
}

/* Section */
section {
  padding: 100px 20px;
  min-height: 100vh;
}

/* Active */
.nav-list a.active{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
}

main{
  display: grid;
  gap: 40px;
}
h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--text-color);
}

/*Info-Container config*/
.info-container{
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-left: var(--sidebar-width);
  width: 90%;
  padding: 20px;
  max-width: 600px;
}

/* Large boxes*/

/* Styling small info boxes*/
.info-box {
  
  height: var(--box-height);
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  width: 200px;
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin: 20px;
  box-shadow: var(--shadow-normal);
  transition: transform var(--transition-speed) ease-in-out,
              box-shadow var(--transition-speed) ease-in-out;
}

/* Adding Ring Effect*/
.info-box:hover-effect {
  background-color: var(--hover-box-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

/* Info Box Before*/
.info-box:hover-effect::before{
  content: "";
  position: absolute;
  border-radius:  var(--border-radius);
  box-shadow: 0 0 7px var(--ring-color);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

/*Info box before hover*/
.box.hover-effect::before{
  opacity: 0;
  animation: pulse 1.5s infinite ease-in-out;
}

/*Keyframe Pulse*/
@keyframes pulse {
  0% {
  box-shadow: 0 0 5px var(--ring-color);
  }
  50% {
  box-shadow: 0  0 12px var(--ring-color);
  }
  100%{
  box-shadow:0 0 5px var(--ring-color) ;
  }
}
/* Header Section With Icon*/
.info-header {
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
}

/* Box Content*/
.info-content h2 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  text-align: center;
}

/* Hover effect*/
.info-box:hover {
  transform: translateY(5px);
  box-shadow: var(--shadow-hover);
  background-color: var(--hover-box-color);
}
