:root {
  /* Colors */
  --primary-color: #175480;
  --secondary-color: #ffffff;
  --text-color: #000000;
  --sidebar-bg: #6A93D9;
  --hover-color: #1ABC9C;
  --logout-bg: #E74C3C;
  --logout-hover: #C039;


  /* Spacing & Layouts*/
  --sidebar-width: 250px;
  --card-padding: 20px;
  --border-radius: 25px;

  /* Fonts*/
  --font-main: 'Arial', sans-serif;
  --font-size: 16px;
}

body{
  font-family: var(--font-main);
  font-size: var(--font-size);
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

/* Aside Bar*/
.sidebar{
  width: var(--sidebar-width);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: fixed;
  left: 0;
  top:0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-top-right-radius:var(--border-radius);
  border-bottom-left: var(--border-radius);
  padding-top: 20px;
}
.sidebar a:hover{
  background-color: var(--hover-color);
}

/* Profile*/
.profile{
  text-align: center;
  margin-bottom: 40px;
}

.profile img, .profile p{
  margin-top: 10px;
  font-weight: bold;
}
.profile img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  
}

/* Nav List*/
.nav-container{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  border-top-right-radius: 75px;
  width: 100%;
  padding: 15px 0;
  background-color: var(--sidebar-bg);
}

.nav-list{
  list-style: none;
  padding: 0;
  width: 100%;
}

.nav-list li{
  width: 100%;
}

.nav-list li a{
  display: flex;
  align-items: center;
  color: var(--text-color);
  border-radius: var(--border-radius);
  transition: 0.3s;
  padding: 15px 20px;
  font-size: 18px;
  gap: 15px;
  transition: 0.3s;
}

.nav-list li a i{
  font-size: 22px;
}

.nav-list li a:hover{
  background-color: var(--hover-color);
  border-radius: 10px;
}



